a#add_shopping_list_item_button.submit {
  background-color: #bebebe;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#stuff {
  background-color: #eee;
  text-decoration: none;
}

.classStuff {
  color: white;
  text-decoration: none;
  padding : 15;
  border-radius: 5;

}